<ion-content>
    <div class="login">
        <ion-card>
            <ion-card-header>
                <ion-card-title>Auth Connect Demo</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                Auth Status: {{ authenticated }}
                <ion-button (click)="tryAuth0()">Login with Auth0</ion-button>
                <ion-button (click)="logout()">Logout</ion-button>
                <ion-button (click)="checkStatus()">Refresh Status</ion-button>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
